<section class="voc-form">
  <div class="gamebar-wrapper">
    <mat-toolbar color="accent">
    <div class="form-wrap">
    <mat-form-field appearance="fill" class="langSelect">
      <mat-label>From</mat-label>
      <mat-select>
        <mat-option *ngFor="let lang of langFrom" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="langSelect">
      <mat-label>To</mat-label>
      <mat-select>
        <mat-option *ngFor="let lang of langTo" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="langSelect">
      <mat-label>Dictionary</mat-label>
      <mat-select>
        <mat-option *ngFor="let wlist of wordLists" [value]="wordList">
          {{wlist.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
      <!-- fxHide.xs will hide the element on very small screens -->
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a id="start-link" (click)="onStartTrainer()">Start</a></li>
          <li *ngIf="this.trainerRunning" (click)="onStopTrainer()"><a id="stop-link">Stop</a></li>
        </ul>
      </div>
    </mat-toolbar>
  </div>

  <!-- The main form for the vocabulary Trainer -->
  <!-- local reference #f gives access to form object -->
  <form fxLayout="column" class="myform" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="handleSubmit(f)">
    <mat-form-field>
      <mat-label>Переводите на немецкий</mat-label>
      <input type="text"
            matInput
            placeholder="Немецкое слово"
            aria-label="ru"
            aria-describedby="basic-addon1"
            autocomplete="off"
            [disabled]="!trainerRunning"
            [value]="currentWord"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ваш перевод</mat-label>
      <input type="text"
            matInput
            placeholder="Перевод"
            aria-label="de"
            autocomplete="off"
            aria-describedby="basic-addon2"
            [(ngModel)]="userTranslation"
            [disabled]="!trainerRunning"
            [ngModelOptions]="{standalone: true}"
            [ngStyle]="{'color': textColor}"
      >
    </mat-form-field>
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!trainerRunning"
            >{{buttonText}}</button>
  </form>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-raised-button color="accent" (click)="onLogResult()">Log</button>
  </div>
  <!-- The result view for the  vocabulary Trainer -->
  <div *ngIf="showFinalResult">
    You have correctly remembered {{correctWords}} of {{totalWords}} words.
  </div>
</section>
