.myform {
  margin-top: 25px;
}

.form-wrap {
  font-size: 1px;
}

mat-form-field.langSelect {
  font-size: 12px;
  width: 100px;
}

.mybutton {
  margin-left: auto;
  margin-right: auto;
}

.btn-primary:focus,
.btn-primary:active{
    box-shadow:none !important;
    outline:0px !important;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white
}

#start-link {
  cursor: pointer;
}

#start-link:hover,
#start-link:active
{
  color: lightgray;
}

mat-form-field{
  width: 300px;
}
