<div class="welcome" fxLayout="column" fxLayoutAlign="center center">
<section>
<h1>Smart Vocabulary Trainer</h1>
<p>Practice your vocabulary smarter not harder. The vocabulary trainer uses the Goldlist method to help you build and extend your vocabulary in the most efficient way.</p>
<h2><q>Repetition is the mother of successful learning</q></h2>
</section>

<section>
<h1>Track Your Progess</h1>
<p>The trainer uses data science to update your progress and adjusts the training to your specific needs and learning situation. Seeing your active vocabulary grow over time provides an enjoyable learning experience.</p>
</section>
</div>
